.place__title {
  width: 100%;
  font-family: Inter;
  font-size: 72px;
  line-height: 64px;
  font-weight: 900;
  margin: 0 0 60px;
  padding: 0;
  grid-row: 1;
  grid-column: 1;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-size: 7vw;
    line-height: 6.34vw;
    margin: 0 0 3.9vw;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    word-spacing: 32px;
    font-size: 42px;
    line-height: 46px;
    margin: 0 0 40px;
  }
}

@media screen and (max-width: 639px) {
  .place__title {
    word-spacing: normal;
    width: 90%;
    margin: 0 auto 40px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: 2.18rem;
    margin-bottom: 32px;
  }
}