.place__website {
  width: 456px;
  height: 46px;
  margin-top: 106px;
}

@media screen and (max-width: 768px) {
  .place__website {
    width: 352px;
    height: 46px;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    margin: 0 16px 0;
    width: 288px;
    padding: 0;
  }
}